.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    min-height: 50px;
    padding-left: 40px;
    padding-right: 40px ;
    padding-top: 15px;
}

.header-logo {
    color: white;
}
.header-links {
    color: white;
    display: flex;
    gap:12px
}

.modal-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.m1container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:5px;
    color: whitesmoke;
    width: 50%;
}

.m1title {
    font-weight: bold;
    font-size: 30px;
    max-width: 300px;
}

.m1text {
    max-width: 60%;
}

button {
    background-color: rgb(50, 50, 230);
    color: antiquewhite;
    padding: 7px 20px;
    border-radius: 10px;
}

.m1img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.m2title {
    font-weight: bolder;
    font-size: 25px;
    margin: 15px;
}
.m2container {
    display: flex;
    gap: 20px;
    background-color: white;


}

.m2c-border {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid blue;
}

img {
    height: 150px;
    width: 150px;
}

.m2ctext {
    display: flex;
    align-items: center;
    font-size: 10px;
    max-width: 160px;
    margin-top:  5px;
    margin-bottom:25px ;
}

.modal-3 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.quote-desc {
    max-width: 500px;
}
.quote-author {
    display: flex;
    justify-content: flex-end;
    min-width: 500px;
    font-weight: bold;
    padding-right: 40px;
}
.modal-4 {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    margin: 50px;
    padding: 20px;
    border-radius: 12px;

}

.m4-title {
    color: white;
    font-weight: bold;
}

.m4-desc {
    color: white;
    font-size: 12px;
}

.footer {
    background-color: coral;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1F2937;
    color: white;


}
body {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}