.header {
    background-color: blue;
    height: 50px;
    width: 50px;
}
.modal-1 {
    background-color: red;
    height: 50px;
    width: 50px;
}
.modal-2 {
    background-color: yellow;
    height: 50px;
    width: 50px;
}
.modal-3 {
    background-color: green;
    height: 50px;
    width: 50px;
}
.modal-4 {
    background-color: black;
    height: 50px;
    width: 50px;
}
.footer {
    background-color: coral;
    height: 50px;
    width: 50px;
}
body {
    display: flex;
    flex-direction: column;
}